
.vscode/settings.json
tempCodeRunnerFile.py
temp.py
__pycache__/constants.cpython-311.pyc
intermediate2.txt
intermediate.txt
output.txt
*.pyc
intermediate.txt
errors.txt
intermediate.txt
*.txt
intermediate.txt
input.txt
input.txt
